portfolio/2223_lmsgi_RubenDS/ud4/07/07.dtd

<!ELEMENT estudiante (fila+)>
<!ELEMENT fila (nombre,firstname,lastname,telefono,email,address,city,state,zip)>
<!ELEMENT fecha (dia,mes,anyo)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT zip (#PCDATA)>