portfolio/2223_lmsgi_ErikaMP/exams/soluciones/20230321_EX03_ErikaMartínez/02_solucion.dtd

<!ELEMENT inventario (objeto+)>
<!ELEMENT objeto (mesa|ordenador)>
<!ELEMENT ordenador (procesador?,memoria?,discoduro)>
<!ELEMENT mesa (tipo?,localizacion)>


<!ELEMENT tipo (#PCDATA)>
<!ELEMENT localizacion (#PCDATA)>
<!ELEMENT procesador (#PCDATA)>
<!ELEMENT memoria (#PCDATA)>
<!ELEMENT discoduro (#PCDATA)>

<!ATTLIST objeto codigo ID #REQUIRED>
<!ATTLIST procesador fabricante (Amd|Intel) "Intel">
<!ATTLIST memoria unidad CDATA #FIXED "Gb">
<!ATTLIST discoduro tamano (Tb|Gb|Mb) "Gb">
