portfolio/2223_lmsgi_VictorMM/ud4/03/03.dtd

<!ELEMENT historia (fila+)>
<!ELEMENT fila (descripcion,fecha)>
<!ELEMENT fecha (dia,mes,anyo)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ATTLIST historia xmlns:xsi CDATA #IMPLIED
                   xsi:noNamespaceSchemaLocation CDATA #IMPLIED>
