portfolio/2223_lmsgi_RubenDS/ud4/11/11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
        <xs:sequence>
        <xs:element name="catalogo" type="xs:string" maxOccurs="unbounded">
        </xs:element>
        </xs:sequence>
        <xs:attribute name="portatil" type="xs:string"/>
        <xs:attribute name="nombre" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>