portfolio/2223_lmsgi_AlvaroCM/_UD4/05/05.dtd

<!ELEMENT Company (Employee+)>
<!ELEMENT Employee (FirstName, LastName,ContactNo,Email,Address)>
<!ELEMENT Address (City,State,Zip)>
<!ELEMENT FirstName (#PCDATA)>
<!ELEMENT LastName (#PCDATA)>
<!ELEMENT ContactNo (#PCDATA)>
<!ELEMENT Email (#PCDATA)>
<!ELEMENT City (#PCDATA)>
<!ELEMENT State (#PCDATA)>
<!ELEMENT Zip (#PCDATA)>
