portfolio/2223_lmsgi_BorjaNR/ud4/03/03.dtd

<!ELEMENT historia (linea+)>
<!ELEMENT linea (descripcion,fecha)>
<!ELEMENT fecha (dia,mes,anyo)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ATTLIST historia xmlns:xsi CDATA #IMPLIED
               xsi:noNamespaceSchemaLocation CDATA #IMPLIED>