portfolio/2223_lmsgi_RebecaSP/ud4/03/03.dtd

<!ELEMENT hechoshistoricos (linea+)>
<!ELEMENT linea (descripcion,fecha)>
<!ELEMENT fecha (dia,mes,anyo)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ATTLIST hechoshistoricos xmlns:xsi CDATA #IMPLIED
               xsi:noNamespaceSchemaLocation CDATA #IMPLIED>