portfolio/2223_lmsgi_RubenDS/ud4/03/03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="HechosHistoricos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="description" type="xs:string" maxOccurs="3"/>
                <xs:element name="fecha" type="xs:date" maxOccurs="3"/>
                <xs:element name="dia" type="xs:byte"/>
                <xs:element name="mes" type="xs:byte"/>
                <xs:element name="año" type="xs:byte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>