portfolio/2223_lmsgi_RubenDS/ud4/02/02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="planeta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="continente" type="xs:string" maxOccurs="5"/>
                <xs:element name="pais" type="xs:string" maxOccurs="5"/>
                <xs:element name="capital" type="xs:string" maxOccurs="5"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>