portfolio/2223_lmsgi_ErikaMP/ud4/03/03.dtd

<!-- 
    Autor: Erika Martínez Pérez
    Práctica: Actividad 3
    Descripción: Conversión del ejercicio 03 a DTD
-->
<!ELEMENT hechos (acontecimiento+)>
<!ELEMENT acontecimiento (nombre,fecha)>
<!ELEMENT fecha (dia,mes,anyo)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>