portfolio/2223_lmsgi_OscarPF/ud4/01/01.dtd

<!ELEMENT mail (remitente,destinatario+,fecha,asunto?,mensaje?,image*)>
<!ELEMENT fecha (dia,mes,anyo)>
<!ELEMENT image (nombre,tipo)>
<!ELEMENT remitente (#PCDATA)>
<!ELEMENT destinatario (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ATTLIST mail xmlns:xsi CDATA #IMPLIED
          xsi:noNamesespaceSchemaLocation CDATA #IMPLIED>