portfolio/2223_lmsgi_OscarPF/ud4/01/01.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mail">
    <xs:annotation>
      <xs:documentation> 
    Author: Oscar Pascual Ferrero
    Date: 17/01/2023
    Description: Escribir un documento XML que almacene la información de un mail y contenga la siguiente información: remitente, 
                destinatario(s), fecha del mensaje, asunto, mensaje, ficheros adjuntos (por cada fichero debe especificar el nombre y el tipo 
                MIME). No utilizar atributos
 &lt;!DOCTYPE mail SYSTEM "01.dtd"></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="remitente"/>
        <xs:element type="xs:string" name="destinatario" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="fecha">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="dia"/>
              <xs:element type="xs:byte" name="mes"/>
              <xs:element type="xs:short" name="anyo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="asunto"/>
        <xs:element type="xs:string" name="mensaje"/>
        <xs:element name="image" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="tipo"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>