portfolio/2223_lmsgi_RebecaSP/ud4/11/11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="portatil" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="referencia">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[a-zA-Z][a-zA-Z][0-9][0-9][0-9][0-9][0-9]" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="nombre">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:maxLength value="20"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="fabricante">
                                <xs:complexType>
                                    <xs:attribute name="nombreFabricante" default="DESCONOCIDO">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="LENOVO" />
                                                <xs:enumeration value="HP" />
                                                <xs:enumeration value="MSI" />
                                                <xs:enumeration value="APPLE" />
                                                <xs:enumeration value="ASUS" />
                                                <xs:enumeration value="DELL" />
                                                <xs:enumeration value="DESCONOCIDO" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="procesador">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombreProcesador" type="xs:string" />
                                        <xs:element name="cache">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="tamanyo" default="gb">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="mb" />
                                                                    <xs:enumeration value="gb" />
                                                                    <xs:enumeration value="tb" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="numeroProcesadores">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:int">
                                                    <xs:minInclusive value="1" />
                                                    <xs:maxInclusive value="20" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="velocidad">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:float">
                                                        <xs:attribute name="medida" fixed="Ghz" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ram">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="memoria">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int">
                                                        <xs:attribute name="unidadMedida" default="gb">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="mb" />
                                                                    <xs:enumeration value="gb" />
                                                                    <xs:enumeration value="tb" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tipoMemoria">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="DDR3" />
                                                    <xs:enumeration value="DDR4" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="disco" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="capacidadDisco">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:int">
                                                        <xs:attribute name="unidadMedidaDisco">
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="mb" />
                                                                    <xs:enumeration value="gb" />
                                                                    <xs:enumeration value="tb" />
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="tipoDisco">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="SSD" />
                                                <xs:enumeration value="HDD" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pantalla" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="dimension">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:float">
                                                        <xs:attribute name="unidadPantalla"
                                                            fixed="pulgadas" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="resolucion" type="xs:string" />
                                        <xs:element name="resolucionMax" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="grafica" maxOccurs="unbounded" type="xs:string" />
                            <xs:element name="foto" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>