portfolio/2223_lmsgi_CarlosGC/ud4/01/01.dtd

<!ELEMENT mail (remitente, destinatario+, fecha, asunto?, mensaje?, image*)>
<!ELEMENT fecha (anyo,mes,dia)>
<!ELEMENT image (nombre,tipo)>
<!ELEMENT remitente (#PCDATA)>
<!ELEMENT destinatario (#PCDATA)>
<!ELEMENT anyo (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT asunto (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT tipo (#PCDATA)>
<!ATTLIST mail xmlns:xsi CDATA #IMPLIED
                xsi:noNamespaceSchemaLocation CDATA #IMPLIED>